@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}
.ycenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.event{
    color: yellow;
    font-size: 70%;
    font-family: poppins;
    text-transform: uppercase;
    color: red;
    left: 50%;
    vertical-align: baseline;

}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    min-height: 100vh;
    
}



.event_container {

    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

.event_container .card {
    position: relative;
    height: 250px;
    background: #fff;
    display: flex;
    width: 45%;
    margin: 30px 0;
}

.event_container .card .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out; 

}

.event_container .card:hover .imgBx
{
    width: 150px;
    height: 120px;
    left: -75px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background-color: #ff0057;

}

.heading{
    color: rgb(226, 226, 226);
    position: static;
    top: 10%;
    left: 0%;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    size: 3rem;
    text-shadow: 5px 5px 10px #000000;

}

.event_container .card .imgBx:before
{
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 6em;
    color: rgba(255,255,255,.05);
    font-weight: 700;
}

.event_container .card .imgBx img 
{
    max-width: 100%;
    transition: 0.5s ease-in-out;
}

.event_container .card:hover .imgBx img
{
    max-width: 100%;
}

.event_container .card .content
{
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.event_container .card .content a
{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #333;
    text-decoration: none;
    color: #fff;
}

@media (max-width: 992px)
{
    .event_container
    {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .event_container .card
    {
        width: 400px;
    }
}
@media (max-width: 768px)
{
    .event_container .card
    {
        max-width: 300px;
        flex-direction: column;
        height: auto;
    }
    .event_container .card .imgBx
    {
        position: relative;
    }
    .event_container .card .imgBx,
    .event_container .card:hover .imgBx
    {
        width: 100%;
        height: 200px;
        left: 0;
    }
    .event_container .card .imgBx img,
    .event_container .card:hover .imgBx img
    {
        max-width: 100%;
    }
    .event_container .card .content
    {
        position: relative;
        width: 100%;
    }
}
